.todoList{
    width:500px;
    padding:0 20px;
    margin:0 auto;
    margin-top:40px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    font-family:Verdana,Tahoma, sans-serif;
    border-radius: 8px;
}